header {
  background-color: #22B5E5
}

main {
  border: 1px solid black;
  width: 25em;
  float: left;
  margin-top: 125px;
  margin-right: 50px;
  display: block;
}

section {
  border: 1px solid black;
  clear:both;
}

img {
  width: 5em;
  height: 5em;
  margin: 1em;
  display: block;
  float: left;
}

article {
  display: inline;
  /*padding: 1em;
  margin: 2em;*/
}

h3 {
  margin: 0;
  display: inline;
}

p {
  margin: 0;
  display: inline;
}

h1 {
  : 10px;
}

b {
  float:right;
}
