li {
  border: 1px solid black;
  list-style: none;
  width: 23em;
  height: 12em;
  float: left;
}

img {
  width: 5em;
  height: 5em;
}

h1 {
  position: relative;
  bottom: 110px;
  left: 95px;
}

h2 {
  position: relative;
  bottom: 140px;
  left: 95px;
  color: gray;
}

h3 {
  position: relative;
  bottom: 100px;
  border-top: 1px solid black;
}

h4 {
  position: relative;
  bottom: 180px;
  left: 320px;
}
